body {
	padding-bottom: 100px;
	padding-top: 30px;
}
.bg-light {
	background: white!important;
} 
.nav-link {
	color: black!important;
	font-weight: bold;
	font-family: Raleway;
}
.navbar-brand {
	color: black!important;
	font-weight: bold;
	font-family: Raleway;
	}

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/19601105_10155577318247986_7541745268950246580_n.jpg?_nc_cat=0&oh=719e1230001485ab0fbcb5c0e777e3b0&oe=5B6DD193);
}

#main {
	width: 100%;  /*for chrome */
	max-height: auto; /*for chrome */
	object-fit: cover; /*for safari */
}

#bio {
	margin: 50px auto;
	font-family: Dancing Script;
	max-width: 700px; 
	font-size: 24px;
	color: black;
	font-weight: bold;
}
h2 {
	font-family: Raleway;
	text-align: center;
	font-size: 48px;
	padding: 20px;
	margin: 10px 0;
	text-transform: uppercase;
}

.headers {
	text-align: center;
	font-family: Raleway;
	font-size: 24px;
	font-weight: bold;
}

#text {
	margin: 20px auto;
	display: block;
	font-family: Raleway;
	font-size: 18px;
	font-weight: bold;
}

#quoteText {
	margin: 20px 0;
	text-align: center;
}
.inputs {
	margin-left: 95px;
}

.img-thumbnail {
	height: 236px;
	width: 100%
}

label {
	display: inline-block;
  	width: 90px;
  	text-align: right;
}

#name {
	width: 400px;
	margin-left: 8px;
}

#mail {
	width: 400px;
	margin-left: 8px;
}

#msg {
	width: 400px;
	height: 200px;
	margin-left: 8px;
}

#submit {
	margin-left: 100px;
}

.img-thumbnail:hover {
	border: 5px solid pink;
}

#photoShoot {
	max-width: 400px;
}

#bottom {
	padding: 30px 0;
	background-color: white;
}
/*hello */

